body{
    
    width: auto;
    background-color: azure;
    margin-left: 0;
    margin-right: 0;
}
/*Navigation bar start*/
.nav-container{
    border: 1px rgb(240, 255, 255);
    display: flex;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(58, 79, 90, 0.5);
    background-color:azure;
}

.list{
    padding-top: 20px;
    margin-top: 25px;
    list-style: none;
    float: right;
    width: 100%;
    display: flex;
    height: 70px;
}
.list li a{
    padding-top: 30px;
    color:gray;
    margin: 20px;
    font-family: Verdana;
    font-size: 20px;
    list-style: none;
    font-weight: bold;  
    text-decoration: none;
}

/*Start of styling top Login and signup buttons*/
.navsignLogin{
    background-color: #5ffff9;
    display: inline-block;
}
.login-btn{
    border-radius: 4px;
    border: 1px solid aliceblue;
    height: 39px;
    margin: 38px;
    margin-left: -10px;
    font-size: 14px;
    font-family: Verdana;
    font-weight: bold;
    color: azure;
    cursor: pointer;
    background-color: rgb(11, 136, 245);
}
.signup-btn{
    border: 1px solid azure;
    border-radius: 4px;
    margin: 38px;
    height: 39px;
    width: 150px;
    font-size: 14px;
    font-family: Verdana;
    font-weight: bold;
    color: azure;
    cursor: pointer;
    background-color: rgb(10, 134, 243);
}
/*End of styling top Login and signup buttons*/

/*Login input area start*/
#id-No, #pswr{
    border-radius: 4px;
    border: 1px solid #38f9;
    height: 32px;
    margin: 40px;
    margin-left: 5px;
    font-family: Verdana;
    color: #00f;
    background-color: #fff;
}
/*Login input End*/

/*book now button*/

.bookbtn{
    display: flex;
    background-color: azure;
    padding: 50px;
    padding-left: auto;
}
#bookbtn, #emergbtn{
    color: azure;
    margin: 25px;
    font-size: 23px;
    font-weight: bold;
    font-family:'Arial Narrow Bold', sans-serif;
    background-color: #ff03d9;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    height: 40px;

}

/*Start of heading paragraph*/
.wrapper{
    background-color: aliceblue;
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
    }
h1{
    color:#ff03d9;
    font-size: 35px;
    font-family: Tahoma, Verdana, sans-serif;
}
h2{
    color:#ff03d9;
    font-size: 25px;
    font-family: Tahoma;
}
.para{
    color: gray;
    background-color:azure;
    display: inline-block;
    font-family:sans-serif;
    font-size: 17px;
   text-align: center;
    padding: 40px;

}
.container {
    height: 400px;
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  
  .wrapper-2 {
    height: 100%;
    width: 100%; 
    padding: 20px; 
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
  }
  
  .wrapper1,.wrapper2,.wrapper3,.wrapper4 {
    flex: 1; 
    padding: 20px; 
    text-align: center; 
    color: gray; 
  }
  .wrapper2 ul li a{
    text-decoration: none;
    color: gray;

  }
  .wrapper2 ul li{
    list-style: none;

  }
  
  .wrapper2 h3,.wrapper4 h3, .wrapper3 h3 {
    color: #45ff; 
    align-items: center;
  
  }
  
  .wrapper3 {
    border-radius: 8px;
    display: inline-table;
  }
  
  .wrapper3 #img, #img1 {
    max-width: 50%;
    height: 100px;
    flex-wrap: wrap;
  }
  
/*start of signup form*/
.open-signup{
    display: none;
    position: fixed;
    bottom: 5%;
    left: 80%;
    top: 5%;
    background-color: rgba(47, 152, 184);
    border-radius: 8px;
    padding-top: 30px;
    
}
#Sign{
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}
.Signup{
    position: relative;
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
    height: 500px;
}
.Signup input, select{
    width: auto;
    padding: 5px;
    margin: 5px 0 5px 0;
    border: 1px solid rgb(113, 117, 113);
    border-radius: 4px;
    background: azure;
}
.Signup label{
    display: block;
    margin: 5px 0 5px 0;
    color:aliceblue;
    font-size: 18px;
}
.Signup .btn {
    background-color: #138ff0;
    color:azure;
    padding: 8px 10px;
    border: 1px solid green;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
}
.Signup .btn-cancel {
    background-color: #db196a;
    color:azure;
    padding: 8px 10px;
    border: 1px solid green;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
}
/*End of Signup form styling*/

/* styling images*/
.image {
   float: right;
   width: auto;
   height: 430px;
   display: flex;
   display: inline flex;
   justify-content: right;
   justify-items: right;
}

/* Footer */
.footer,.footer1, .footer2{
    list-style: none;
    margin: 55px;
}
.footer  li a,.footer1 li a, .footer2 li a{
    width: 100%;
    font-size: 17px;
    padding: 50px;
    margin: 55px;
    color: gray;
    text-decoration: none;
    align-content: center;
}
footer{
    width: 100%;
    height: 200px;
    justify-content: center;
    display: flex;
    background-color:thistle ;
}

